services:
  traefik:
    image: traefik:v3.5
    command:
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--providers.file.directory=/etc/traefik/dynamic"
      - "--providers.file.watch=true"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.websecure.address=:443"
      - "--entrypoints.websecure.http.tls=true"
      - "--log.level=INFO"
    ports:
      - "80:80"
      - "443:443"
      - "8080:8080" # Traefik dashboard
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./traefik.yml:/etc/traefik/dynamic/traefik.yml:ro
      - ./.tmp/certs:/etc/certs:ro
    networks:
      - default
    extra_hosts:
      - "host.docker.internal:host-gateway"

  db:
    image: postgres:17-alpine
    environment:
      POSTGRES_USER: tuneperfect
      POSTGRES_PASSWORD: tuneperfect
      POSTGRES_DB: tuneperfect
    ports:
      - 5432:5432
    volumes:
      - .tmp/db:/var/lib/postgresql/data

  mailpit:
    image: axllent/mailpit
    environment:
      MP_DATABASE: /data/mailpit.db
    ports:
      - 1025:1025
      - 8025:8025
    volumes:
      - .tmp/mailpit:/data
      
  redis:
    image: redis:latest
    ports:
      - 6379:6379
    volumes:
      - .tmp/redis:/data
