services:
  db:
    image: postgres:17-alpine
    environment:
      POSTGRES_USER: tuneperfect
      POSTGRES_PASSWORD: tuneperfect
      POSTGRES_DB: tuneperfect
    ports:
      - 5432:5432
    volumes:
      - .tmp/db:/var/lib/postgresql/data

  mailpit:
    image: axllent/mailpit
    environment:
      MP_DATABASE: /data/mailpit.db
    ports:
      - 1025:1025
      - 8025:8025
    volumes:
      - .tmp/mailpit:/data
      
  redis:
    image: redis:latest
    ports:
      - 6379:6379
    volumes:
      - .tmp/redis:/data

  coturn:
    image: coturn/coturn:4
    ports:
      - "3478:3478/udp"
      - "3478:3478/tcp"
      - "5349:5349/tcp"
      - "49152-49200:49152-49200/udp"
    command:
      - --listening-port=3478
      - --tls-listening-port=5349
      - --realm=tuneperfect.localhost
      - --server-name=tuneperfect.localhost
      - --user=tuneperfect:tuneperfect
      - --min-port=49152
      - --max-port=49200
      - --no-cli
      - --no-multicast-peers
      - --verbose
      - --log-file=stdout
