http:
  routers:
    web:
      rule: "Host(`tuneperfect.localhost`)"
      service: web-service
      entryPoints:
        - websecure
      tls: {}
    
    app:
      rule: "Host(`app.tuneperfect.localhost`)"
      service: app-service
      entryPoints:
        - websecure
      tls: {}
    
    api:
      rule: "Host(`api.tuneperfect.localhost`)"
      service: api-service
      entryPoints:
        - websecure
      tls: {}

  services:
    web-service:
      loadBalancer:
        servers:
          - url: "http://host.docker.internal:3000"
    
    app-service:
      loadBalancer:
        servers:
          - url: "http://host.docker.internal:3001"
    
    api-service:
      loadBalancer:
        servers:
          - url: "http://host.docker.internal:3002"

tls:
  certificates:
    - certFile: /etc/certs/tuneperfect.localhost.pem
      keyFile: /etc/certs/tuneperfect.localhost-key.pem