apiVersion: v1
kind: Secret
metadata:
  name: postgresql-credentials
  namespace: {{ .Release.Namespace }}
type: Opaque
data:
  password: {{ .Values.postgresql.auth.password | default "" | b64enc | quote }}
  POSTGRES_URL: {{ printf "postgresql://%s:%s@%s-postgresql.%s.svc.cluster.local:5432/%s" .Values.postgresql.auth.username .Values.postgresql.auth.password (include "tuneperfect.fullname" .) .Release.Namespace .Values.postgresql.auth.database | b64enc | quote }}
---
apiVersion: v1
kind: Secret
metadata:
  name: redis-credentials
  namespace: {{ .Release.Namespace }}
type: Opaque
data:
  password: {{ .Values.redis.auth.password | default "" | b64enc | quote }}
  REDIS_URL: {{ printf "redis://:%s@%s-redis-master.%s.svc.cluster.local:6379" .Values.redis.auth.password (include "tuneperfect.fullname" .) .Release.Namespace | b64enc | quote }}
---
apiVersion: v1
kind: Secret
metadata:
  name: api-credentials
  namespace: {{ .Release.Namespace }}
type: Opaque
data:
  {{- if .Values.secrets.api.jwtSecret }}
  JWT_SECRET: {{ .Values.secrets.api.jwtSecret | b64enc | quote }}
  {{- end }}
  {{- if .Values.secrets.api.emailSmtpUrl }}
  EMAIL_SMTP_URL: {{ .Values.secrets.api.emailSmtpUrl | b64enc | quote }}
  {{- end }}
  {{- if .Values.secrets.api.googleClientId }}
  GOOGLE_CLIENT_ID: {{ .Values.secrets.api.googleClientId | b64enc | quote }}
  {{- end }}
  {{- if .Values.secrets.api.googleClientSecret }}
  GOOGLE_CLIENT_SECRET: {{ .Values.secrets.api.googleClientSecret | b64enc | quote }}
  {{- end }}
  {{- if .Values.secrets.api.discordClientId }}
  DISCORD_CLIENT_ID: {{ .Values.secrets.api.discordClientId | b64enc | quote }}
  {{- end }}
  {{- if .Values.secrets.api.discordClientSecret }}
  DISCORD_CLIENT_SECRET: {{ .Values.secrets.api.discordClientSecret | b64enc | quote }}
  {{- end }}
---
{{- if .Values.coturn.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: coturn-credentials
  namespace: {{ .Release.Namespace }}
type: Opaque
data:
  TURN_USERNAME: {{ .Values.coturn.username | b64enc | quote }}
  TURN_CREDENTIAL: {{ .Values.coturn.credential | b64enc | quote }}
{{- end }} 